.image-audit [aria-hidden='true'] {
  display: none;
}

.image-audit .field-group {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 1rem;
  margin-top: 1rem;
}

.image-audit .field-group .form-field {
  flex-grow: 1;
}

.image-audit .path-filter-field {
 margin-top: 0;
}

.image-audit .button-wrapper {
  margin-top: 2rem;
}

.error {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
  padding: var(--spacing-xxl) var(--spacing-l);
  border-radius: var(--rounding-m); 
  border: var(--border-s) solid var(--gray-300);
}


.error .icon svg {
  width: .8em;
  height: .8em;
  fill: var(--red-900);
  color: var(--red-900);
}

.error .error-icon {
  font-size: var(--heading-size-xxxxl);
  display: flex;
  flex-flow: column wrap;
  flex-basis: 20%;
  place-content: flex-end;
}

.error .error-content {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 100%;
  place-content: flex-start;
}

.error .error-content .error-title {
  line-height: 0;
  color: var(--red-900);
}

.field-help-text {
  margin-top: 0.5em;
}

label, legend, .field-help-text, .form-error {
  color: var(--gray-700);
  font-size: var(--body-size-m);
}

.image-audit .gallery button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  background-color: transparent;
  cursor: context-menu;
}

.image-audit .gallery figure {
  min-height: 44px;
  cursor: context-menu;
}

.image-audit .gallery figure button {
  border-radius: 0 0 0 50%;
  background-color: var(--transparent-white-700);
  transition: background-color 0.2s;
}

.image-audit .gallery figure:hover button {
  background-color: var(--transparent-white-100);
}

.image-audit dialog {
  font-size: var(--body-size-s);
}

.image-audit dialog table td {
  vertical-align: top;
  padding: 0.6em 0.7em;
}

.image-audit dialog table tr td:first-of-type {
  width: max-content;
  font-weight: bold;
}

.image-audit dialog table td p:first-of-type {
  margin-top: 0;
}

.image-audit dialog table td p:last-of-type {
  margin-bottom: 0;
}

.image-audit dialog img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 600px;
  border: var(--border-s) solid var(--gray-100);
  background-color: var(--layer-pasteboard);
  background-image:
    linear-gradient(45deg, var(--color-background) 25%, transparent 25%), 
    linear-gradient(135deg, var(--color-background) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--color-background) 75%),
    linear-gradient(135deg, transparent 75%, var(--color-background) 75%);
  background-size: 16px 16px;
  background-position: 0 0, 8px 0, 8px -8px, 0 8px;
}

.image-audit dialog table tr:not(:last-of-type) td {
  border-bottom: var(--border-s) solid var(--gray-300);
}


.image-audit i.symbol-square::after {
  inset: 0;
  border: var(--border-m) solid;
  border-radius: var(--rounding-s);
}

.image-audit i.symbol-portrait::after {
  inset: 0 10%;
  border: var(--border-m) solid;
  border-radius: var(--rounding-s);
}

.image-audit i.symbol-landscape::after {
  inset: 10% 0;
  border: var(--border-m) solid;
  border-radius: var(--rounding-s);
}

.image-audit i.symbol-widescreen::after {
  inset: 20% 0;
  border: var(--border-m) solid;
  border-radius: var(--rounding-s);
}

.image-audit .canvas {
  position: relative;
}

.image-audit .canvas .action-bar-wrapper {
  position: sticky;
  top: var(--horizontal-spacing);
  z-index: 1;
}

.image-audit .canvas .action-bar button[aria-selected='true'] {
  background-color: var(--gray-300);
}
