.image-audit [aria-hidden='true'] {
  display: none;
}

.image-audit .gallery button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  background-color: transparent;
  cursor: context-menu;
}

.image-audit .gallery figure {
  min-height: 44px;
  cursor: context-menu;
}

.image-audit .gallery figure button {
  border-radius: 0 0 0 50%;
  background-color: var(--transparent-white-700);
  transition: background-color 0.2s;
}

.image-audit .gallery figure:hover button {
  background-color: var(--transparent-white-100);
}

.image-audit dialog {
  font-size: var(--body-size-s);
}

.image-audit dialog table td {
  vertical-align: top;
}

.image-audit dialog table tr td:first-of-type {
  width: max-content;
  font-weight: bold;
}

.image-audit dialog table td p:first-of-type {
  margin-top: 0;
}

.image-audit dialog table td p:last-of-type {
  margin-bottom: 0;
}

.image-audit dialog img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 600px;
  border: var(--border-s) solid var(--gray-100);
  background-color: var(--layer-pasteboard);
  background-image:
    linear-gradient(45deg, var(--color-background) 25%, transparent 25%), 
    linear-gradient(135deg, var(--color-background) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--color-background) 75%),
    linear-gradient(135deg, transparent 75%, var(--color-background) 75%);
  background-size: 16px 16px;
  background-position: 0 0, 8px 0, 8px -8px, 0px 8px;
}

.image-audit dialog table td {
  padding: 0.6em 0.7em;
}

.image-audit dialog table tr:not(:last-of-type) td {
  border-bottom: var(--border-s) solid var(--gray-300);
}

.image-audit i.symbol-square::after {
  inset: 0;
  border: var(--border-m) solid;
  border-radius: var(--rounding-s);
}

.image-audit i.symbol-portrait::after {
  inset: 0 10%;
  border: var(--border-m) solid;
  border-radius: var(--rounding-s);
}

.image-audit i.symbol-landscape::after {
  inset: 10% 0;
  border: var(--border-m) solid;
  border-radius: var(--rounding-s);
}

.image-audit i.symbol-widescreen::after {
  inset: 20% 0;
  border: var(--border-m) solid;
  border-radius: var(--rounding-s);
}

.image-audit .canvas {
  position: relative;
}

.image-audit .progress-bar {
  width: 100%; /* Full width of the container */
  height: 20px;
  background-color: #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}

.image-audit .progress {
  height: 100%;
  background-color: #ED2224;
  width: 0%;
  transition: width 0.2s;
}

.image-audit .canvas .action-bar-wrapper {
  position: sticky;
  top: var(--horizontal-spacing);
  z-index: 1;
}

.image-audit .action-bar-wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 4rem);
  margin-left: 2rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  pointer-events: none;
  border-radius: var(--rounding-s);
}

.image-audit .action-bar-wrapper .overlay.active {
  pointer-events: all;
}


.image-audit .canvas .action-bar button[aria-selected='true'] {
  background-color: var(--gray-300);
}

.image-audit .color-span {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.image-audit .color-span.selected {
  border: 2px solid white;
  outline: 4px solid black;
}

.image-audit .color-span:hover::after {
  opacity: 1;
  visibility: visible;
}

.image-audit .color-span.unknown {
  background-color: whitesmoke;
}

.image-audit .color-span.alpha {
  display: inline-block;
  border: 1px solid #ccc;
  position: relative;
  cursor: pointer;
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc),
                    linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}

.image-audit .color-list-item {
  list-style-type: none;
}

.image-audit .color-label {
  display: inline-block;
  margin: -1;
}